-#  This file is app/views/movies/index.html.haml
%h1 
  Similar Movies with the same director of 
  = @movie.title
%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Director
      %th Release Date
      %th More Info
  %tbody
    - @similar_movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.director
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Return to All Movies', movies_path